<!-- sidebar.component.html -->
<div class="sidebar-container">
  <div class="logo">
    <span class="logo-text">E2E Headlines</span>
  </div>
  <div class="nav-list">
    <a class="nav-item" routerLink="/dashboard/test-case" routerLinkActive="active">
      Test Case Dashboard
    </a>
    <a class="nav-item" routerLink="/dashboard/model" routerLinkActive="active">
      Model Dashboard
    </a>
    <a class="nav-item" routerLink="/dashboard/exploratory" routerLinkActive="active">
      Exploratory Dashboard
    </a>
    <a class="nav-item" routerLink="/dashboard/health" routerLinkActive="active">
      Health View
    </a>
  </div>
</div>