/* Import global styles */
@import './styles/variables';
@import './styles/grid-layouts';
@import './styles/flex-layouts';
@import './styles/responsive';
@import './styles/charts';

/* Base styles */
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color); 
}