<!-- src/app/shared/components/tables/data-table/data-table.component.html -->
<div class="data-table-container" [style.maxHeight]="maxHeight">
    <h3 *ngIf="title" class="table-title">{{ title }}</h3>
    
    <div class="table-wrapper">
      <table mat-table [dataSource]="data" matSort (matSortChange)="onSort($event)" [matSortDisabled]="!sortable" class="mat-elevation-z1">
        <!-- Dynamic columns based on input -->
        <ng-container *ngFor="let column of columns">
          <ng-container [matColumnDef]="column.property">
            <th mat-header-cell *matHeaderCellDef 
                [attr.mat-sort-header]="isSortable(column) ? '' : null"> 
              {{ column.name }}
              <span *ngIf="column.tooltip" class="tooltip-icon" [matTooltip]="column.tooltip">
                <mat-icon>info</mat-icon>
              </span>
            </th>
            <td mat-cell *matCellDef="let row" 
                [class]="column.cellClass || ''" 
                (click)="onRowClick(row)">
              <ng-container *ngIf="column.icon">
                <mat-icon [style.color]="column.iconColorFn ? column.iconColorFn(row) : ''">
                  {{ column.iconFn ? column.iconFn(row) : column.icon }}
                </mat-icon>
              </ng-container>
              {{ getFormattedValue(row, column) }}
            </td>
          </ng-container>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions" *ngIf="hasActions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
            <button *ngFor="let action of getActions(row)" 
                    mat-icon-button 
                    (click)="$event.stopPropagation(); onActionClick(row, action.name)" 
                    [matTooltip]="action.tooltip || ''">
              <mat-icon>{{ action.icon }}</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
            [class.clickable-row]="rowClick.observers.length > 0"></tr>
  
        <!-- No Data Row -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell empty-row" [attr.colspan]="displayedColumns.length">
            <div *ngIf="loading" class="loading-message">Loading data...</div>
            <div *ngIf="!loading" class="no-data-message">No data available</div>
          </td>
        </tr>
      </table>
    </div>
  
    <mat-paginator *ngIf="showPaginator"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [length]="data.length"
      (page)="onPage($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>